@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&family=Inter:wght@400;700&family=Merriweather:wght@400;700&family=Mulish:wght@400;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Mulish', sans-serif;
    
}

nav{
    /* border: 2px solid blue; */
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.web-name{
    display: flex;
    align-items: center;
    
     
}
.web-name h3{
    font-size: 2.25rem;
    font-weight: 800;
}
#travel{
    font-size: 2.25rem;
    color: #FF5400;
}
.web-nav{
   padding: 10px 0px;
   color: #FF5400;
   gap: 45px;
   display:inline-flex;
   justify-content: space-between;
   align-items: center;


}
.web-nav li{
    list-style: none;
    
}
.web-nav a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
.web-nav .home a{
    color: #FF5400;
}

/* Banner Section */

.img-description{
    text-align: center;
    align-items: center;
    padding:70px;
}
.img-description h2{
    font-size: 4rem;
    color: #FFF;
    margin-bottom: 10px;
   
}
.img-description p{
width: 676px;
margin: 0 auto;
color: #FFF;
}
.background-img{
background-image:url(./Images/background.png);

}
section{
background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/background.png);
width: 1170px;
height: 500px;
margin: 0 auto;
border-radius: 10px;
}.form{
    display:inline-flex;
    background-color: rgba(255, 255, 255, 0.30); ;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    position: relative;
    top: 70px;
}
.where{
    width: 174px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
}
.selector{
    width: 174px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
}
.form button{
    width: 174px;
    padding: 16px;
    background-color: #FF5400;
    color: #FFF;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
}