@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&family=Inter:wght@400;700&family=Merriweather:wght@400;700&family=Mulish:wght@400;800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Mulish', sans-serif;
    
}

nav{
    /* border: 2px solid blue; */
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.web-name{
    display: flex;
    align-items: center;
    
     
}
.web-name h3{
    font-size: 2.25rem;
    font-weight: 800;
}
#travel{
    font-size: 2.25rem;
    color: #FF5400;
}
.web-nav{
   padding: 10px 0px;
   color: #FF5400;
   gap: 45px;
   display:inline-flex;
   justify-content: space-between;
   align-items: center;


}
.web-nav li{
    list-style: none;
    
}
.web-nav a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
.web-nav .home a{
    color: #FF5400;
}

/* Banner Section */

.img-description{
    text-align: center;
    align-items: center;
    padding:70px;
}
.img-description h2{
    font-size: 4rem;
    color: #FFF;
    margin-bottom: 10px;
   
}
.img-description p{
width: 676px;
margin: 0 auto;
color: #FFF;
}
/* .background-img{
background-image:url(./Images/background.png);

} */
.banner-section{
background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/background.png);
background-repeat: no-repeat;
background-size: cover;
width: 1170px;
height: 500px;
margin: 0 auto;
border-radius: 10px;
}.form{
    display:inline-flex;
    background-color: rgba(255, 255, 255, 0.30); ;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    position: relative;
    top: 70px;
}
.where{
    width: 174px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
    height: 16px;

}
.selector{
    width: 174px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    border-radius: 8px;
    height: 52px;

}
.form button{
    width: 174px;
    padding: 16px;
    background-color: #FF5400;
    color: #FFF;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    height: 52px;

}

/* Our Tour History */
.tour-history{
    display: flex;
    margin: 0 auto;
    padding:135px;
    align-items: center;
}
.tour-description h3{
color: #131318;
font-size: 2.5rem;
}
.tour-description p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    line-height: 1.6rem;
}
.tour-description li{
    color: rgba(19, 19, 24, 0.70);
    width: 525px;
    line-height: 1.6rem;
    font-size: 1rem;
    margin: 10px;
}
.tour-img{
 width: 540px;
height: 500px;
border-radius: 15px;
align-items: center;
}
.btn{
    background-color: #FF5400;
    color: #FFF;
    border: none;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    width:170px;
    font-size: 1.2rem;
}

/* Main Section */
.main-section{
    width: 1170px;
    
  .intro-section{
    padding-bottom: 50px;
    padding-left: 130px;
  }  
}
.intro-section h3{
color: #131318;
font-size: 2.5rem;
text-align: center;
padding-left: 130px;
}
.intro-section p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin: 0px 290px;
}
.box-1{
    display: flex;
    justify-content: space-between;
    
    
}
.box-2{
width: 573px;
height: 284px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-left: 30px;
border-radius: 16px;
margin-left: 135px;
}
.box-2 h3{
color: #131318;
font-size:1.5rem;
}
.box-2 p{
width: 486px;
 color: #5A5A5D;
font-size: 1rem;
line-height: 1.7rem;
}
.box-3{
 border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background-color: rgba(41, 206, 246, 0.05);
width: 573px;
height: 284px;
padding-left: 30px;
margin-left:135px;

}
.box-3 h3{
    color: #131318;
    font-size:1.5rem;
    }
    .box-3 p{
    width: 486px;
     color: #5A5A5D;
    font-size: 1rem;
    line-height: 1.7rem;
    }
    .box-4{
width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
margin: 0 auto;
margin-top: 20px;
text-align: center;
position: relative;
left: 135px;
    }
    .box-4 h3{
     color: #131318;
    font-size:1.5rem;
    }
    .box-4 p{
        width: 486px;
        color: #5A5A5D;
       font-size: 1rem;
       line-height: 1.7rem; 
    }